
<div class='mt-2'>
<span class='fw-bold border-bottom p-1 d-block'>@<%=@user.name%></span>

<span class=' mt-1'>Post title: <%=@post.title%></span> 

<h3 class='mt-2'>Comment on this post</h3>
</div>

<%= form_with model: @comment, url: user_post_comments_path, 
method: :post, local: true, scope: :comment, class: 'w-100 d-flex flex-column p-1 mt-1'  do |form| %>
  <%= form.text_area :text, placeholder: 'write your comment here', autofocus: true,class: 'form-control' %>
  <%= form.submit "comment",class: ' btn btn-info mt-2' %>
<% end %>