<li class ='list-group-item d-flex p-1'>    
  <img src=<%= @user.photo %> alt='profile picture' class=' w-50 rounded'>        
  <div class='ml-4 p-1'>     
    <h1>@<%= @user.name %></h1>     
    <span>posts: <%= @user.posts.length %></span>
  </div>        
</li> 
<div class ='card  p-1'>
  <span>Bio :</span>
  <p>
  <%= @user.bio %>
  </p>
</div> 
<% @posts = @recent_posts %>
<% if @posts.empty? %>
  <%= 'No posts yet' %>
<%else%>
<%= render :partial => "shared/postlist", :posts => :posts %>
<%end%>
<%= link_to 'see all posts', user_posts_path(@user), class: 'btn btn-info w-100 mt-3' %>