<div class='mt-2'>
<span class='fw-bold border-bottom p-1 d-block'>@<%=@user.name%></span>
<h3 class='mt-2'>Create new post</h3>
</div>
<%= form_with model: @post, url: user_posts_path, 
method: :post, local: true, scope: :post,class: 'w-100 d-flex flex-column'  do |form| %>
  <%= form.text_field :title, placeholder: 'Post title',class: 'form-control' %>
  <%= form.text_area :text, placeholder: 'post content',class: 'form-control mt-1',style:"height: 100px" %>
  <%= form.submit "post",class: 'btn btn-info mt-2' %>
<% end %>