<div class= 'card'>
    <div class="card-body">
      <h5 class="card-title">
      <span>@<%= @post.user.name %>:<span/> </h5>
      <p class="card-text ml-3"><%= @post.title %>: <br/><%= @post.text %></p>
    </div>
    <p>
     <i class='ml-2'>Comments(<%=@comments.length%>) :</i class='ml-2'>
      <% if @comments.length > 0%>
      <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show all comments
      </button>
      <% end %>
    </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
    <% @comments.each do |comment| %>
      <li class= 'list-group-item d-flex flex-column'>
        <span> @<%= comment.user.name %> : </span> 
        <p> <%= comment.text %> </p>
        </li>
      <% end %>
    </div>
  </div>

</div>