

<li class='list-group-item'>
<h1>Post #<%=@post.id%> by <%= @user.name%></h1>
<h4> <%= @post.title %> </h4>
<p>
<%= @post.text%>
</p>
<div>
<span>comments: <%= @post.comments.length %></span>
<span class='ml-2'>likes: <%= @post.likesCounter%></span>
</div>
<% if can? :destroy, @post%>
        <%= button_to "Delete", user_post_path(@user, @post), method: :delete, class: "btn btn-danger" %>
<% end %>
<% if @comments.empty? %>
   <%= 'No Comments yet' %>
   <%else%>
    <div class = 'list-group p-1 mt-1'>
      <% @comments.each do |comment|%>
      <div class='bg-light p-1 d-flex justify-content-between'>
        <%=comment.user.name%>: <%=comment.text%>
        <% if can? :destory, comment%>
              <%= button_to "Delete this comment", user_post_comment_path(comment.user_id, comment.post_id, comment.id), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
      <%end%>
    </div>
<% end %>
<%= link_to 'comment on this post', new_user_post_comment_path(@user,@post), class:'btn btn-dark d-block' %>
<%= form_with model: @like, url: likes_new_path do |form| %>
  <%= form.hidden_field :post_id, value: @post.id %>
<div class="actions">
  <%= form.submit "Like", class: 'btn btn-danger w-100' %>
</div>
<% end %>
</li>
