<header class="header w-100 p-1 bg-dark d-flex p-2 justify-content-between">
  <%= link_to 'users', users_path, class: '' %>
  <%= link_to 'posts', users_path, class: '' %>
  <nav class="nav d-flex justify-content-between w-50" id="navbar">
      <% if user_signed_in? %>
        <%= button_to 'sign out', destroy_user_session_path, method: :delete, class: '' %>
      <% else %>
      <%= link_to 'sign up', new_user_registration_path, class: '' %>
      <%= link_to 'sign in', new_user_session_path, class: '' %>
      <% end %>
      <%= link_to 'about us', users_path, class: '' %>
      
  </nav>
</header>