<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;300&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: 'module' %>  
  </head>

  <body class=''>
    <div class= 'container bg-light mb-2 p-1'>
      <%= render 'layouts/navbar' %>
      <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= alert%></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <%end%>
      <% if notice %>
      <p class= 'alert alert-success'><%= notice%> </p>
      <script>
     // this function auto remove the alert after 2 seconds
        setTimeout (function () {
        let alertElement = document.querySelector('.alert')
        alertElement.remove()
        }, 2000);
      </script>
      <%end %>
      <%= yield %>
      
    </div>
    
</html>
